:root {
  --sp-0-75: 0.75rem;
}

nav {
  justify-content: space-evenly;
  gap: var(--sp-1);
  width: 96vw;
  padding: var(--sp-0-25) var(--sp-1);
  align-items: center;
  background-color: transparent;
}

.nav-title {
  flex-direction: row;
  color: var(--white);
  transition: all linear 0.3s;
}

.title-highlight {
  color: var(--primary-color);
}
.nav-title:hover {
  flex-direction: row-reverse;
  cursor: pointer;
}

.nav-title:first-child:hover {
  transform: translateX(5px);
}

.links-top {
  gap: var(--sp-1);
}

.icon {
  padding: 0;
  padding-top: 2px;
}

.nav-link {
  position: relative;
}

.badge-text-m {
  transform: scale(85%) translateY(-5px);
  color: var(--white);
  background-color: var(--primary-color);
}
.nav-icon {
  filter: invert(100%);
  width: 2rem;
  height: 2rem;
}

.cart-badge {
  right: -6px;
}

@media only screen and (max-width: 620px) {
  nav {
    width: 100vw;
    font-size: 75%;
    gap: 0;
  }
}
