.card{
    flex-basis: 15rem;
    outline: none;
    border: 1px solid var(--solid-gray);
    margin-right: var(--sp-0-5);
    width: 18rem;
}

.card>*{
    justify-content: center;
}

.img-container{
    max-width: 100%;
}

.prod-cost{
    font-size: 1rem;
}

.prod-title{
    font-size: 1.3rem;
    font-weight: 600;
}

.card-btns, .card-btns>button{
    justify-content: center;
    width: 100%;
    gap:var(--sp-0-5);
}

.card-btns>button{
    font-size: 1rem;
}