.card_wrapper{
    padding: var(--sp-0-5);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 13.5rem;
    gap:var(--sp-0-75);
    box-sizing: border-box;
    border-radius: var(--sp-0-5);
    border:3.5px solid transparent;
    min-height: 13rem;
}

.name{
    font-size: var(--sp-1-25);
}

.details_wrapper {
    display: flex;
    flex-direction: column;
    gap:var(--sp-0-5)
}

.details_wrapper > *{
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 0.9rem;
}

.location{
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.phone{
   font-size: 1rem;
}