footer {
    background-color: var(--cadet);
    margin-top: auto;
    justify-content: center;
    align-items: center;
    width: 98vw;
    padding: var(--sp-1);
    bottom: 0;
    color: var(--white);
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.footer-items {
    width: max-content;
}

.footer-links {
    justify-content: space-evenly;
    width: 100%;
}